:root {
  --background: #272727;
  --widthNav: 400px;
  --heightNav: 40px;
  --color1: #fddb3a;
  --color2: #ffffff;
  --text_color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  background-color: var(--background);;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
}

#body {
  width: 100vw;

}
article {
  text-align: center;
  color: var(--text_color);;
  display: flex;
  display: grid;
	place-items: center;
  transition: all .5s;
}
article:hover {
  color: #fddb3a;;
}
article > h1 {
  font-size: 25px;

}
article > h2 {
  font-size: 20px;
  margin-top: 10px;
  width: 100vw;
}
article p {
  width: 70%;
}
a {
  text-decoration: none;
  color: var(--text_color);
  transition: all .5s;
}
a:hover {
  color: grey;
}
article span {
  color: var(--text_color);
  transition: all .5s;
}
article span:hover {
  color: grey;
}
footer {
  position:absolute;
  bottom: 0px;
  width: 100vw;
  text-align: center;
  color: var(--text_color);;
  display: flex;
  display: grid;
	place-items: center;
  transition: all .5s;
  padding-bottom: 10px;
}
footer:hover {
  color: #fddb3a;;
}
