@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: 20px;
  place-items: center;
}
#search {
  background-color: white;
  color: grey;
  width: 90%;

}
input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  height: 500px;
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
  font-family: "Montserrat", sans-serif;
}

.card > .header {
  margin-bottom: .25rem;
  text-align: center;
  font-weight: 500;
}

.card > .body {
  font-size: .8rem;
  color: #777;

}
.body {
  align-items: center;
  width: 90%;
}
.card > .money {
  color: black;
}

.hide {
  display: none;
}
.data-header {
  color: grey;
}
.body-wrapper {
  display: flex;
  justify-content: center
}
#nav {
  height: 70px;
  background-color: var(--background);;
  position:relative;
}
.price {
  text-align: center;
}
